<h1>It Works! What Next?</h1>

<p><img src="images/ravens-on-fence.jpg" alt="Two ravens perched on a light blue fence"></p>

<ul>
	<li>Replace the HTML at <i>app/index.html</i> and create your own HTML files.</li>
	<li>Write some Sass. Update the files in the <i>app/scss</i> directory.</li>
	<li>Update or delete the <i>app/js/scripts.js</i> file.</li>
	<li>Change out the favicon and other icon images. You can automate this process at <a href="http://realfavicongenerator.net/">http://realfavicongenerator.net/</a>.</li>
	<li>Run <code>grunt</code> by itself to build optimized files in a <i>dist</i> directory.</li>
</ul>
